header {
  display: flex;
  align-items: center; /* Align items vertically */
}


.header {
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  padding-right: 25%;
  text-align: end;
  margin-right: auto; /* Pushes header to the left as much as possible */
  align-self: center; /* Align the header vertically */
}
